opencv-python
ultralytics
numpy
pandas
matplotlib
Pillow
scipy
paddlepaddle
pymuPDF
lmdb
easydict
tqdm
paddleocr
google-cloud-storage
google-cloud-vision
easyocr
langid
torchvision
absl-py
tensorflow
keras
torch
transformers
timm
filterpy
