# Core libraries
numpy
opencv-python
opencv-python-headless
torch
torchvision
tensorflow
pymongo
pandas
scipy

# YOLOv9 dependencies
ultralytics

# Transformers
transformers
timm

# Image processing and computer vision
scikit-image
Pillow
matplotlib
seaborn
filterpy

# Deep learning and machine learning
keras
paddlepaddle
paddleocr

# OCR Libraries
google-cloud-vision
easyocr
pymuPDF
langid

# Utility libraries
tqdm
easydict
absl-py

# Google Cloud Storage (for storage needs)
google-cloud-storage

# Additional libraries
lmdb
