opencv-python
ultralytics
numpy
pandas
matplotlib
Pillow
scipy
paddlepaddle
pymuPDF
lmdb
easydict
tqdm
paddleocr
google-cloud-storage
easyocr
langid
torchvision
absl-py
opencv-python-headless
tensorflow
keras
torch
transformers
timm
filterpy
